DATABASE_URL="postgresql://user:password@localhost:5432/invoice-app"
NEXTAUTH_SECRET="your-secret-key-min-32-chars"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Invoice-App"
UPLOAD_DIR="./public/uploads"
MAX_UPLOAD_SIZE_MB=5
